### List

### Creating a list

In [1]:
mylist = ["apple","banana","cherry"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry']
<class 'list'>

### Allow Duplicates

In [2]:
mylist = ["apple","banana","apple","cherry","banana","apple"]
print(mylist)

['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']

### Data types

In [4]:
list1 = ["apple","banana","cherry"]
list2 = [2,3,4]
list3 = [7.8,9.2,3.5]
list4 = [True,False,True]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry']
[2, 3, 4]
[7.8, 9.2, 3.5]
[True, False, True]

In [5]:
a = [12,-8,5,-7,2.3,2,5,3.6,"student","hello",True,False]
print(a)

[12, -8, 5, -7, 2.3, 2, 5, 3.6, 'student', 'hello', True, False]

### List length

In [6]:
a = [12,-8,5,-7,2.3,2,5,3.6,"student","hello",True,False]
print(len(a))

12

In [7]:
b = [15,8,9,6,7,8,9,25]
print(len(b))

8

### Access items

In [8]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[1])

15

In [9]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[8])

52

In [10]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[-1])

5

In [11]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[-6])

96

### Slicing of list

In [12]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[0:6])

[12, 15, 26, 78, 14, 25]

In [13]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[3:9])

[78, 14, 25, 96, 142, 52]

In [15]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[0:12:2])

[12, 26, 14, 96, 52, 6]

### Change items

In [16]:
thislist = ["apple","banana","cherry"]
thislist[1] = "strawberry"
print(thislist)

['apple', 'strawberry', 'cherry']

In [17]:
a = [12,14,15,16,8,9,-5,-3,41,-9]
a[2] = "students"
print(a)

[12, 14, 'students', 16, 8, 9, -5, -3, 41, -9]

### Change a range of item values

In [18]:
a = [12,14,15,16,8,9,-5,-3,41,-9]
a[2:4] = ["books","pen","paper"]
print(a)

[12, 14, 'books', 'pen', 'paper', 8, 9, -5, -3, 41, -9]

### add (append())

In [19]:
a = [12,15,14,78,96,25]
a.append(-9)
print(a)

[12, 15, 14, 78, 96, 25, -9]

### Remove function

In [21]:
m = ["apple","student","hello"]
m.remove("student")
print(m)

['apple', 'hello']

### Reverse

In [22]:
mylist = [1,2,3,4,5,"python","data"]
mylist.reverse()
print(mylist)

['data', 'python', 5, 4, 3, 2, 1]

### finding sum of the list

In [24]:
l = [14,15,12,78,-9,23,-8,52,74,89,25,102,8]
print(len(l))
a = 0
for i in range(13):
    a = a + l[i]
    i = i + 1
print("the sum of a list is",a)

13
the sum of a list is 475

#### Multiply all the numbers of a list

In [29]:
b = [1,2,3,4,5,6,7,8,9,10]
print(len(l))
b = 0
for i in range(13):
    b = b + l[i]
    i = i + 1
print("the sum of a list is",b)

13
the sum of a list is 475