### Sets

#### sets are immutable or set items are unchangeable
- set items are unordered 
-  duplicates not allowed
- but you can remove items and add new items
- in sets use {}
- in sets indexing not allowed

### creating a set

In [3]:
a = {"animals","ball","cat"}
print(a)
print(type(a))

{'animals', 'cat', 'ball'}
<class 'set'>

### Set items are unordered

In [2]:
a = {"animals","ball","cat"}
print(a)

{'animals', 'cat', 'ball'}

### Duplicate not allowed

In [1]:
a = {"animals","ball","cat","animals","ball","ball"}
print(a)

{'ball', 'animals', 'cat'}

### True and 1 is consider the same value

In [2]:
a = {"animals","ball","cat","animals","ball","ball",1,2,3,True}
print(a)

{1, 2, 3, 'animals', 'ball', 'cat'}

### Get the length of a set

In [3]:
a = {"animals","ball","cat","animals","ball","ball",1,2,3,True}
print(a)
print(len(a))

{1, 2, 3, 'animals', 'ball', 'cat'}
6

### Set items - Data Types

In [5]:
x1 = {1,2,3,4}
x2 = {1.2,2.3,3.1,4.5}
x3 = {"a","b","C"}
x4 = {True,False,True}
print(x1,x2,x3,x4)

{1, 2, 3, 4} {1.2, 2.3, 3.1, 4.5} {'C', 'a', 'b'} {False, True}

In [6]:
m = {1,2,-5,2.1,2.3,6+3j , "apple", True}
print(m)

{1, 2, 2.1, 2.3, 'apple', -5, (6+3j)}

### We cannot use list in sets.

In [7]:
x5 = {[1,2,3,4]} #We cannot use list in sets.
print(x5)

TypeError: unhashable type: 'list'

 ### We can use tuple in sets.

In [8]:
x5 = {(1,2,3,4)} #We can use tuple in sets.
print(x5)

{(1, 2, 3, 4)}

###  We cannot use dictionary in sets.

In [9]:
x6 = {{"a":1, "b":2}} #We cannot use dictionary in sets.
print(a)

TypeError: unhashable type: 'dict'

###  Nesting is not possible in sets.

In [10]:
a = {{1,2,3}, {4,5,6}} #Nesting is not possible in sets.
print(a)

TypeError: unhashable type: 'set'

### The Set() Constructor

In [11]:
thisset = set(("alpha", "beta", "gamma"))
print(thisset)
print(type(thisset))

{'gamma', 'alpha', 'beta'}
<class 'set'>

### Creating Empty Set

In [12]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [14]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

### Access items

In [15]:
a = {"a","b","c","d"}

for x in a:
    print(x)

c
d
a
b

### Check if "item" is present in the set

In [16]:
a = {"data","python","code"}
print("code" in a)

True

In [17]:
a = {"data","python","code"}
print("analyst" in a)

False

### Add items

In [18]:
a = {"a","b","c","d"}
a.add(100)
print(a)

{'d', 100, 'b', 'c', 'a'}

In [19]:
x = {"data","python","code"}
y = {10,20,30,40,50,60,70}

x.update(y)

print(x)

{'python', 70, 40, 10, 'code', 50, 20, 'data', 60, 30}

### Remove set items

In [20]:
n = {'python', 70, 40, 10, 'code', 50, 20, 'data', 60, 30}
n.remove(40)
print(n)

{'python', 70, 10, 'code', 50, 20, 'data', 60, 30}

In [22]:
n = {'python', 70, 40, 10, 'code', 50, 20, 'data', 60, 30}
n.remove('python')
print(n)

{70, 40, 10, 'code', 50, 20, 'data', 60, 30}

### pop function is used for, delete random number.

In [23]:
n = {'python', 70, 40, 10, 'code', 50, 20, 'data', 60, 30}
x = n.pop()
print(n)

{70, 40, 10, 'code', 50, 20, 'data', 60, 30}

### Clear function

In [24]:
n = {'python', 70, 40, 10, 'code', 50, 20, 'data', 60, 30}
n.clear()
print(n)

set()

### Delete function
- delete function is used for delete all sets from the memory.

In [27]:
m = {'python', 70, 40, 10, 'code', 50, 20, 'data', 60, 30}
del m
print(m)

NameError: name 'm' is not defined

### Join two sets

In [28]:
x = {"a","b","c"}
y = {1,2,3}
z = x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}

### WAP to find the max and min values.

In [29]:
setn = {5,10,3,15,2,20}
print("original set elements")
print(setn)
print("maximum value of the set is")
print(max(setn))
print("minimum value of the set is")
print(min(setn))

original set elements
{2, 3, 20, 5, 10, 15}
maximum value of the set is
20
minimum value of the set is
2

### Return a new set of identical items from two sets

In [30]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.intersection(set2))

{40, 50, 30}