# **Tuples**

### Creating a tuple

In [1]:
my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

### Mixed datatypes

In [2]:
my_tuple = (1,"hello",3.2,4+5j)
print(my_tuple)
print(type(my_tuple))

(1, 'hello', 3.2, (4+5j))
<class 'tuple'>

### empty tuple

In [3]:
my_tuple = ()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

### Nested tuples

In [4]:
a = ("data",[1,2,3],(4,5,6))
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

#### creating a tuple with only one item

In [5]:
var1 = (5,)
print(var1)
print(type(var1))

(5,)
<class 'tuple'>

In [6]:
var2 = ("hello",)
print(var2)
print(type(var2)) #from comma it's a tuple

('hello',)
<class 'tuple'>

### tuple constructor

In [7]:
a = tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

### Indexing in Tuple

In [8]:
a = (47,48,45,46,48,4,8)
print(a[5])

4

In [9]:
a = (47,48,45,46,48,4,8,"data","python")
print(a[7])

data

In [10]:
a = (47,48,45,46,48,4,8,"data","python")
print(a[-1])

python

### Slicing in tuples

In [11]:
a = (34,23,4,5,56,78,89,65,43,56,78,89,89,45,36,28,40)
print(a[0:6])

(34, 23, 4, 5, 56, 78)

In [12]:
a = (34,23,4,5,56,78,89,65,43,56,78,89,89,45,36,28,40)
print(a[:6])

(34, 23, 4, 5, 56, 78)

In [13]:
a = (34,23,4,5,56,78,89,65,43,56,78,89,89,45,36,28,40)
print(a[0:13])

(34, 23, 4, 5, 56, 78, 89, 65, 43, 56, 78, 89, 89)

In [14]:
a = (34,23,4,5,56,78,89,65,43,56,78,89,89,45,36,28,40)
print(a[:])

(34, 23, 4, 5, 56, 78, 89, 65, 43, 56, 78, 89, 89, 45, 36, 28, 40)

In [15]:
a = (34,23,4,5,56,78,89,65,43,56,78,89,89,45,36,28,40)
print(a[::2])

(34, 4, 56, 89, 43, 78, 89, 36, 40)

### Reverse

In [16]:
a = (34,23,4,5,56,78,89,65,43,56,78,89,89,45,36,28,40)
print(a[: : -1])

(40, 28, 36, 45, 89, 89, 78, 56, 43, 65, 89, 78, 56, 5, 4, 23, 34)

In [17]:
t = (1,2,3,4,5,6,7,8)
print(t[: :])
print(t[3:])
print(t[:4])
print(t[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

### Duplicates in tuple

In [18]:
t  = (1,2,3,4,5,123,45,24,2,4,3)
print(t)
print(type(t))

(1, 2, 3, 4, 5, 123, 45, 24, 2, 4, 3)
<class 'tuple'>

#### tuple is immutable(directly we can not change or remove items in tuple)

#### convert tuple in list for some changes or add some items in tuple

In [19]:
a = (25,26,27,28,29)
y = list(a)
y.append(30)
a = tuple(y)
print(a)

(25, 26, 27, 28, 29, 30)

### Remove function in tuple(using list we can remove items in tuple )

In [20]:
a = (25,26,27,28,29)
y = list(a)
y.remove(26)
a = tuple(y)
print(a)

(25, 27, 28, 29)

### Delete function (delete function is used for delete all the items in tuple)

In [21]:
a = (1,2,3,4,5,6,7,8,9,10,11)
del a

### Loop in tuple

In [22]:
thistuple = ("a","b","c")
for x in thistuple:
    print(x)

a
b
c

### join two tuple

In [23]:
tuple1 = ("a","b","c")
tuple2 = (1,2,3)
tuple3 = (tuple1+ tuple2)
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### Multiply

In [24]:
a = ("apple","data","python")
b = a*3
print(b)

('apple', 'data', 'python', 'apple', 'data', 'python', 'apple', 'data', 'python')

In [25]:
T = (1,2,3,4,5,6,7,8)
print(T*2)
print(T+T+T)
print(T+T)
print(len(T))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

#### WAP to take 5 input from the user and store it in a tuple

In [26]:
t = ()
i = 0
while i<=5:
    num = int(input("enter the values"))
    t = t + (num,)
    i = i + 1
    print(t)

(90,)
(90, 86)
(90, 86, 25)
(90, 86, 25, 56)
(90, 86, 25, 56, 48)
(90, 86, 25, 56, 48, 58)