# **we are going to write our first program.**

In [1]:
print("hello world")

hello world

In [2]:
print(2+3)

5

### Python comments

In [3]:
#this is comment
print("hello world")

hello world

In [4]:
print("hello world")#this is comment

hello world

### Multiline comment

In [5]:
#this is comment1
#this is comment2
#this is comment3
print(2+3)

5

In [6]:
""" this is our first python program """ #it's also a comment.
print (5+6)

11

### Variables & Operators

### Creating a Variable

In [7]:
x = 5
y= "apple"
print(x)
print(y)

5
apple

### Many values to multiple variables

In [8]:
x,y,z = "orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

orange
Banana
Cherry

In [9]:
x,y,z = "orange", "Banana", "Cherry"
print(x, y,z)

orange Banana Cherry

In [10]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# **Python Output Variables**

In [11]:
a = "python"
b = "is"
c = "amazing"
print(a,b,c)

print()

print(a)
print(b)
print(c)

python is amazing

python
is
amazing

### Data Types

In [12]:
x = 2
print(x)
print(type(x))

2
<class 'int'>

In [13]:
e = 2.5
print(e)
print(type(e))

2.5
<class 'float'>

In [14]:
y = 2.5j
print(y)
print(type(y))

2.5j
<class 'complex'>

In [15]:
a = "this is the day 2 of python class"
print(a)
print(type(a))

this is the day 2 of python class
<class 'str'>

In [16]:
b = [1,2,3,4,5,6,7,8,9,10]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [17]:
c = (1,2,3,4,5,6,7,8,9,10)
print(c)
print(type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [18]:
%whos

Variable   Type       Data/Info
-------------------------------
a          str        this is the day 2 of python class
b          list       n=10
c          tuple      n=10
e          float      2.5
x          int        2
y          complex    2.5j
z          str        Orange

####

In [19]:
a = 1
print(a)

1

In [20]:
b = 2
c = 2.3
print(b,c)

2 2.3

In [21]:
x = "apple"
print(x)

apple

In [22]:
student = 23
print(student)

23

In [23]:
_name = "Richa"
print(_name)

Richa

In [24]:
student123 = 25
print(student123)

25

In [25]:
_a = 5
print(_a)

5

### Operators

In [26]:
a = 3
b = 5
print(a+b)

8

In [27]:
a = 5
b = 2.3
print(a+b)

7.3

In [28]:
a = 5+2j
b = 4
print(a+b)

(9+2j)

In [29]:
a = 'hello'
b = 'students'
print(a + " " + b)

hello students

### Subtraction

In [30]:
a = 15
b = 6
print(a - b)

9

In [31]:
a = 5.8965
b = 7.2585963
print(a - b)

-1.3620963000000001

In [32]:
a = 5 + 6j
b = 3
print(a-b)

(2+6j)

### Multiplication

In [33]:
a = 15
b = 56
print(a*b)

840

In [34]:
a = 5.689
b = 82.55632
print(a*b)

469.66290448

### Division

In [35]:
a = 10
b = 5
print(a/b)

2.0

### Modulous

In [36]:
a = 19
b = 3
print(a%b)

1

In [37]:
a = 12
b = 4
print(a%b)

0

### Exponent

In [38]:
a = 41256789
print(a**55)

71162028433520217717099884851404495326786614148274137562533191244754226421072922193229393035406290047490322006127486170528820460414671897074184746917638236810663780872933871199771053029074871072046645088603300420278272474373361352870797685329285463690039885441075398107839063255747535400015566353549647882767414182717586010912021318113386679928289227315380064286145450539958069165193638416244911434618495833200180049949

In [39]:
a = ((859*78) + (78.256/89) + (856**67) + (145698-7526))
print(a)

2.990489165920469e+196

In [40]:
a = True
b = False
print(a and b)

False

In [41]:
a = True
b = False
print(a or b)

True

In [42]:
a = True
b = False
print(not(a))

False

In [43]:
a = ((8922*2852)+(7821*222)-(25566*256)+(8281/87))
print(a)

20637005.183908045